.entry {
    display: flex;
    flex-direction: column;
    gap: var(--medium-indent);

    &__actions {
        display: flex;
        justify-content: center;
        gap: var(--small-indent);
    }
}