<form [formGroup]="entryForm" (ngSubmit)="onFormSubmit()" class="entry">
    <input formControlName="id" type="hidden">
    <app-entry-words formControlName="words" [attemptsToSubmitInvalidForm$]="attemptsToSubmitInvalidForm$" id="words"
        class="entry__words"></app-entry-words>
    <app-entry-meanings formControlName="meanings" [attemptsToSubmitInvalidForm$]="attemptsToSubmitInvalidForm$"
        id="meanings" class="entry__meanings"></app-entry-meanings>
    <input formControlName="lastUpdated" type="hidden">
    <input formControlName="dictionaryId" type="hidden">
    <div class="entry__actions">
        <app-button [type]="'submit'" [disabled]="isSubmitFormButtonDisabled" [state]="ButtonState.success"
            class="entry__submit-form-button">
            Submit
        </app-button>
        <app-button (click)="cancelFormSubmission()" [disabled]="isCancelFormSubmissionButtonDisabled"
            [state]="ButtonState.error" class="entry__cancel-form-submission-button">
            Cancel
        </app-button>
    </div>
</form>