<form [formGroup]="entryForm" class="entry">
    <input formControlName="id" type="hidden">
    <app-entry-words formControlName="words"
        [attemptsToSubmitInvalidForm$]="attemptsToSubmitInvalidForm$.asObservable()"
        class="entry__words"></app-entry-words>
    <app-entry-meanings formControlName="meanings"
        [attemptsToSubmitInvalidForm$]="attemptsToSubmitInvalidForm$.asObservable()"
        class="entry__meanings"></app-entry-meanings>
    <input formControlName="lastUpdated" type="hidden">
    <input formControlName="dictionaryId" type="hidden">
    <div class="entry__actions">
        <app-button [type]="'submit'" [state]="ButtonState.success" class="entry__submit-form-button">
            Submit
        </app-button>
        <app-button [state]="ButtonState.error" class="entry__cancel-changes-button">
            Cancel
        </app-button>
    </div>
</form>