<form [formGroup]="entryForm" (ngSubmit)="onFormSubmit()" class="entry">
    <app-panel id="words" class="entry__words">
        <ng-container title>Related Words</ng-container>
        <ng-container body>
            <ul *ngIf="entry.words.length > 0" class="entry__word-list">
                <li *ngFor="let word of entry.words; let index = index;" class="entry__word-item big-line">
                    <span class="entry__word">{{word}}</span>
                    <button (click)="deleteWord(index)" type="button"
                        [attr.disabled]="isDeleteWordButtonDisabled ? true: null" class="entry__delete-word"
                        title="Delete this word">
                        <fa-icon [icon]="faXmarkCircle" size="sm"></fa-icon>
                        <span class="invisible-text">Delete This Word</span>
                    </button>
                </li>
            </ul>
            <div class="entry__new-word">
                <app-text-input formControlName="newWord" placeholder="e.g.: patient, patience"
                    [message]="newWordTextInputMessage$ | async"
                    [state]="(newWordTextInputState$ | async) ?? TextInputState.default"
                    [maxlength]="entryPropertiesValidationValues.wordMaxLength"
                    class="entry__new-word-input"></app-text-input>
                <app-button [state]="ButtonState.conspicuous" (click)="addNewWord()"
                    [disabled]="isAddWordButtonDisabled">
                    Add
                </app-button>
            </div>
        </ng-container>
    </app-panel>
    <app-panel class="entry__meanings">
        <ng-container title>Definitions & Examples</ng-container>
        <ng-container body>
            <ul *ngIf="entry.meanings.length > 0" class="entry__meaning-list">
                <ng-container *ngFor="let meaning of entry.meanings; let index = index;">
                    <ng-container [ngSwitch]="getMeaningState(index)">
                        <li *ngSwitchCase="'default'" class="entry__meaning entry__meaning_state_default">
                            <div class="entry__meaning-definition">
                                <p>
                                    📝 {{meaning.definition}}
                                </p>
                            </div>
                            <div class="entry__meaning-actions">
                                <app-button (click)="editMeaning(index)" [state]="ButtonState.success"
                                    [disabled]="isEditMeaningButtonDisabled" [size]="'small'">Edit</app-button>
                                <app-button (click)="deleteMeaning(index)" [state]="ButtonState.error"
                                    [disabled]="isDeleteMeaningButtonDisabled" [size]="'small'">Delete</app-button>
                            </div>
                        </li>
                        <li *ngSwitchCase="'being-edited'" class="entry__meaning entry__meaning_state_being-edited">
                            <div class="entry__meaning-definition">
                                <div [formGroup]="entryForm.controls.meanings.value[index]!">
                                    <app-text-input formControlName="definition" [isMultiline]="true"
                                        placeholder="The place for a definition"></app-text-input>
                                </div>
                            </div>
                            <div class="entry__meaning-actions">
                                <app-button (click)="acceptMeaningEdition(index)"
                                    [disabled]="isAcceptMeaningEditionDisabled(index)" [state]="ButtonState.success"
                                    [size]="'small'">Ok</app-button>

                                <app-button (click)="discardMeaningEdition(index)" [state]="ButtonState.error"
                                    [size]="'small'">Discard</app-button>
                            </div>
                        </li>
                        <li *ngSwitchCase="'deleted'" class="entry__meaning entry__meaning_state_deleted">
                            <p>
                                <span>This meaning has been deleted</span>
                                <app-button (click)="restoreDeletedMeaning(index)"
                                    [disabled]="isRestoreDeletedMeaningButtonDisabled"
                                    [size]="'small'">Restore</app-button>
                            </p>
                        </li>
                    </ng-container>
                </ng-container>
            </ul>
            <div class="entry__new-meaning">
                <app-button (click)="addMeaning()" [state]="ButtonState.conspicuous"
                    [disabled]="isAddMeaningButtonDisabled">
                    Add
                </app-button>
            </div>
        </ng-container>
    </app-panel>
    <div class="entry__actions">
        <app-button [state]="ButtonState.success" [disabled]="isSubmitButtonDisabled" type="submit">
            Save
        </app-button>
        <app-button (click)="onCancelClick()" [state]="ButtonState.error" [disabled]="isCancelButtonDisabled">
            Cancel
        </app-button>
    </div>
</form>