body {
    margin: 0;
}

input {
    margin-top: 0;
    line-height: unset;
}

textarea {
    font-size: unset;
    line-height: unset;
}

p {
    margin: 0;
}

button {
    padding: 0;
    line-height: unset;
    font-size: unset;
    font-family: unset;
    color: unset;
    background-color: unset;
    border: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: unset;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

a {
    color: unset;
    text-decoration: none;
}