.entry-meanings {
    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--medium-indent);
    }

    &__meaning {
        display: flex;
        flex-direction: column;
        gap: var(--small-indent);

        &_state_deleted {
            display: flex;
            gap: var(--small-indent);

            font-style: italic;
            font-weight: bolder;
        }
    }

    &__meaning-definition {
        font-weight: bolder;
    }

    &__meaning-definition-initial-icon {
        margin-right: var(--small-indent);
    }

    &__meaning-actions {
        display: flex;
        gap: var(--small-indent);
    }
}