.entry-meanings {
    $entry-meanings: &;

    &__some-meanings-being-edited-error {
        margin-bottom: var(--medium-indent);

        color: rgb(var(--error-color-rgb));
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--medium-indent);
        margin-bottom: var(--medium-indent);
    }

    &__meaning {
        display: flex;
        flex-direction: column;
        gap: var(--small-indent);

        &_state_deleted {
            flex-direction: row;

            font-style: italic;
            font-weight: bolder;
        }

        &_state_being-edited {
            justify-content: center;

            #{$entry-meanings}__meaning-example-list {
                display: flex;
                flex-direction: column;
                gap: var(--small-indent);
                margin-bottom: var(--small-indent);
            }

            #{$entry-meanings}__meaning-example {
                display: flex;
                align-items: center;
                gap: var(--small-indent);
            }

            #{$entry-meanings}__entry-meaning-example-input {
                flex: 1;
            }

            #{$entry-meanings}__meaning-actions {
                justify-content: center;
            }
        }
    }

    &__meaning-definition {
        font-weight: bolder;
    }

    &__meaning-definition-label {
        display: block;
        margin-bottom: calc(var(--small-indent)/2);

        text-align: center;
    }

    &__meaning-definition-initial-icon {
        margin-right: var(--small-indent);
    }

    &__meaning-examples-label {
        display: block;
        margin-bottom: calc(var(--small-indent)/2);

        font-weight: bolder;
        text-align: center;
    }

    &__meaning-actions {
        display: flex;
        gap: var(--small-indent);
    }
}