<app-panel class="about">
    <ng-container title>About</ng-container>

    <ng-container body>
        <p>The app is being developed in a rough-and-ready way by Ilya LOSKUTOV</p>

        <div class="about__contacts">
            <h3>For complaints and angry shouts</h3>
            <p>email: <a href="mailto:i.s.loskutov@yandex.com" class="about__contact-link">i.s.loskutov@yandex.com</a>
            </p>
            <p>telegram: <a href="https://t.me/ilya_loskutov" class="about__contact-link">@ilya_loskutov</a></p>
        </div>

        <div class="about__disclaimer">
            <h3>Disclaimer</h3>
            <p>
                Please note that the application is still under active development and its
                current version is provisional. It is highly probable that
                <em class="about__disclaimer-emphasized">all of your stored data will have to be erased after the final
                    release</em>.
                By continuing to use this application you confirm that you understand this fact and agree with it.
            </p>
        </div>

        <div class="about__controls">
            <app-button (click)="onOkClick()" [state]="ButtonState.success">
                Ok
            </app-button>
            <app-button [state]="ButtonState.error" [ngClass]="{'about__not-ok-button_hidden': isNotOkButtonHidden}"
                (click)="isNotOkButtonHidden = true" class="about__not-ok-button">
                Not Ok
            </app-button>
        </div>
    </ng-container>
</app-panel>